* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {

    height: 100vh;
    background: url('../img/bcg.jpg') no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #931f22;
    padding: 15px;
}

h1 {
    font-family: 5rem;
    font-weight: 700;
    color: #fff;

}

.bg-dark {
    background-color: #931f22 !important;

}


.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between !important;
    padding: 0.5rem 1rem;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 0;
    -ms-flex-align: center;
    align-items: flex-end;
    justify-self: flex-start;
    font-size: 2rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    margin-left: 2rem !important;
}

h3,
.h3 {
    font-size: 1.2rem;
    color: #ccc;
}

.navbar-dark .navbar-brand {
    color: #f9f0f0;
    font-weight: 900;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 2.25rem;
    line-height: inherit;
    white-space: nowrap;
}